@if(languageConfig()?.languageSwitcher?.enabled) {
    <div class="language-switcher" >
        <p>Language Switcher</p>
        <ul>
            @for ( language of languageConfig()?.languageSwitcher.languages; track language) {
                @if( language.enabled){
                    <li>
                        <button (click)="updateLanguage(language.code)">
                            {{ language.name }}
                        </button>
                    </li>
                }
            }
        </ul>
    </div>
  }
  