<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav 
  class="custom-menu"
  [class.sticky-menu]="menuConfig()?.menu?.sticky"
  [class.transparent-menu]="menuConfig()?.menu?.transparent"
>
  <div class="menu-items">
    @for (item of menuConfig()?.menu.items; track item) {
      @if (item.enabled) {
        <a (click)="onClickItem(item.name)" [routerLink]="['/' + formatRoute(item.name)]">
          {{ item.name }}
        </a>
      }
    }
  </div>

  @if (sidebarConfig()?.sidebar?.enabled) {
    <button (click)="toggleSidebar()" class="toggle-button">
      <mat-icon *ngIf="sidebarExpanded()">expand_more</mat-icon>
      <mat-icon *ngIf="!sidebarExpanded()">chevron_left</mat-icon>
    </button>
  }
</nav>
